.page-title {

  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  transform: translate(-25%, 0);
}

.collapse {

  width: 100%;
  margin-top: 5px;
  padding: 0px 15px;
}

.collapse .collapse-head.btn {

  width: 100%;
  text-align: left;
  text-transform: none;
}

.collapse .collapse-body {

  width: 100%;
  padding: 10px;
  margin-top: -10px;
}

.sub-title {

  color: white;
  font-size: 20px;
  padding: 5px;
}

.topic {

  color: white;
  font-weight: 300;
  font-size: 20px;
  padding: 5px 0 5px 15px;
}

.data {

  margin: 5px 15px 5px 15px;
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(174, 174, 174, 0.6);
  color: #616161;
  overflow: auto;
}

.drawer-sub-title {

  font-size: 18px;
  display: block;
  padding: 5px 5px 5px 10px;
  color: #212121;
}

.settings-menu {
  margin: 13px 10px 10px 10px !important;
}

.float-right {
  float: right;
}

.uicon {
  font-size: 40px;
  margin: 5px;
}

.center-text {
  text-align: center;
}

.white-text {
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
}

.header {
  height: 50px;
}

.hover-pointer:hover {
  cursor: pointer;
}